{% extends 'lunch/base.html' %}

{% block body %}

    <section class="section">
        <div class="container has-text-centered column is-8 is-offset-2">
            <h2 class="title is-size-2">About</h2>
                <div class="block"><img class="is-5by3 mb-1" src="../../static/lunch/logo.png" alt=""></div>
                  <p class="is-larger is-size-3">
                    Hi, Welcome to <strong>What's for Lunch?</strong>

                  </p>
                <br />
                  <p class="is-size-4">
                    This website is a lunch roulette helping you decide where to go for lunch.
                  </p>
                  <br />
                  <p class="is-size-4 has-text-left">
                      Oftentimes we come
                      into situations where we can’t decide what to eat and end up eating the same food every day.
                      There are a lot of choices in our everyday life. For some people, lots of choices bring anxiety.
                      So, I built this website to help decide where to eat. The purpose of this website is to bring some fun
                      and adventure in where we choose to eat. This can be a decision making tool when we are in a group of
                      people (especially office staff members who go lunch together) and we don’t want to go with the
                      majority all the time.
                  </p>
                <p class="is-size-3">Bon Appetit</p>

        </div>
    </section>

{% endblock %}