{% extends 'lunch/base.html' %}

{% block body %}
<br />
<br />

<form action="" method="GET">
  <div class="column is-6 is-offset-3">
    <div class="box">
      <div class="container field is-grouped">
        <p class="control is-expanded has-icons-left">
          <input class="input" type="search" name="restaurant_name" placeholder="Find a restaurant">
          <span class="icon is-large is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
        <p class="control">
          <button class="button is-danger" type="submit">Search</button>
        </p>
      </div>
    </div>
  </div>
</form>

  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title" style="color: darkblue;">Places to eat near you</h1><br />
        </div>
      </div>
      <div id="app" class="row columns is-multiline">
        {% for restaurant in restaurant_object %}
          <div class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="{{ restaurant.image.url }}" alt="restaurant image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 no-padding">{{restaurant.name}}</p>
                    <p class="subtitle is-6">{{restaurant.type_of_food}}</p>
                  </div>
                </div>
                <div class="content">
                  {{restaurant.description}}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      </div>

    </div>
  </div>

<div class="container" align="center">
{% if restaurant_object.has_previous %}
    <a href="?page=1" class="button is-danger is-small">First</a>
    <a href="?page={{ restaurant_object.previous_page_number }}" class="button is-danger is-small">&#60;&#60; Previous</a>
{% endif %}

Page: {{ restaurant_object.number }} of {{ restaurant_object.paginator.num_pages }}

{% if restaurant_object.has_next %}
    <a href="?page={{ restaurant_object.next_page_number }}" class="button is-danger is-small">Next &#62;&#62;</a>
    <a href="?page={{ restaurant_object.paginator.num_pages }}" class="button is-danger is-small">Last</a>
{% endif %}
</div>
<br>


{% endblock %}